/* Group 13 */

position: absolute;
width: 239px;
height: 94px;
left: 736px;
top: 59px;



/* Vector */

position: absolute;
left: 51.53%;
right: 45%;
top: 7.91%;
bottom: 87.21%;

background: #000000;


/* Từ 2024. 09627604 46 Đ. 53 Q.7 */

position: absolute;
width: 133px;
height: 71px;
left: 811px;
top: 71px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #000000;



/* Line 2 */

position: absolute;
width: 94px;
height: 0px;
left: 975px;
top: 59px;

border: 3px solid #000000;
transform: rotate(90deg);


/* Group 6 */

position: absolute;
width: 31.25px;
height: 50px;
left: 736px;
top: 92px;

opacity: 0.3;


/* Vector */

position: absolute;
left: 51.11%;
right: 46.72%;
top: 8.98%;
bottom: 86.13%;

background: #000000;


/* Vector */

position: absolute;
left: 51.98%;
right: 47.59%;
top: 12.65%;
bottom: 86.74%;

background: #000000;


/* ClockHistory */

position: absolute;
width: 50px;
height: 50px;
left: 747px;
top: 61px;

opacity: 0.3;


/* Vector */

position: absolute;
left: 50%;
right: 0.01%;
top: 0%;
bottom: 14.64%;

background: #000000;


/* Vector */

position: absolute;
left: -0.02%;
right: 14.64%;
top: 0%;
bottom: -0.01%;

background: #000000;


/* Vector */

position: absolute;
left: 43.75%;
right: 28.19%;
top: 18.75%;
bottom: 28.16%;

background: #000000;
