.catalog {
    height: calc(100vh - 188px - 120px);
    width: 100%;
    padding-top: 46px !important;
    padding-bottom: 46px !important;
    overflow-y: auto;
    gap: 46px;
}

.type {
    width: calc(100% - 68px * 2);
    overflow-y: auto;
    padding: 22px 0 !important;
    /* Rectangle 4 */

    background: rgba(236, 230, 236, 0.856);
    border-radius: 34px;

    margin: 0 68px !important;
}

.catalog .type .title {
    margin-left: 32px !important;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    overflow: visible;

    color: #000000;
}

.catalog .type .list {
    padding: 23px 117px !important;
    width: 100%;
    display: flex;
    gap: 119px;
    position: relative;
}

.short {
    position: relative;
    height: 267px;
    justify-content: space-between;
}

.short--leftButton {
    position: absolute;
    top: 96.5px;
    left: 32px;
}

.short--rightButton {
    position: absolute;
    top: 96.5px;
    right: 32px;
}

.long {
    flex-wrap: wrap;
    overflow-y: auto;
}

.catalog .type .item {
    /* image 2 */
    width: 193px;
    height: 221px;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.catalog .type .item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.focus {
    background: white;
}

.twoLayerItem--UpperLayer {
    position: absolute;
    bottom: 0;
}