* {
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden;
    font-family: 'Inter';
    flex-shrink: 0;
}

svg {
    overflow: visible !important;
}

.logo {
    overflow: visible !important;
}

.hide {
    display: none;
}