.textList {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;

    background: #FFFCFC;
    border: 3px solid #C7AFC4;
    padding: 46px 32px !important;
}

.horizontalList {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    padding: 23px 0 !important;
    font-size: 30px;
}